<nav>
    <a value="Login" href="../user/login"><input class="button-primary" type="submit" value="Login"></a>
    <a value="Sign up" href="../user/new"><input class="button-primary" type="submit" value="Sign up"></a>
    <form method="post" action="/user/logout?_method=DELETE">
      <input class="button-primary" type="submit" value="Logout">
    </form>
</nav>
