<!DOCTYPE html>
<html>
  <body class="container">
    <h1>Good morning amazing <%= user.fname %> <%= user.lname %></h1>
    <div class="image1">
      <img src="http://s6.favim.com/orig/140412/carrot-flowers-frozen-snow-Favim.com-1661118.gif" alt="">
    </div>
    <div>
      <h2>Today's outfit :</h2>
      <img class="stateicon" src="https://www.metaweather.com/static/img/weather/s.svg" alt="">
      <p>Showers</p>
      <p>Temp: 26°C</p>
      <p>A long sleeve shirt and pants would be great for today</p>
      <p>Wear sneakers and don't forget to take your umbrella</p>
    </div>
    <div class="image2">
      <img src="http://static4.fjcdn.com/thumbnails/comments/Stalker+clear+sky+will+be+made+or+should+i+say+_e7daf993bc6b04c6ecfaa25eb34a7b4a.gif" alt="">
    </div>
    <div>
      <h2>Breakfast :</h2>
      <p>It's the perfect day for an orange/kiwi smoothie and a florentine eggs bagel</p>
    </div>
    <div class="image3">
      <img src="https://lh3.googleusercontent.com/-DkFWLLileuc/VYQy116DKtI/AAAAAAAALhM/Tko0R5MXIu0/w800-h800/bad%2Bdays%2Bwill%2Bpass.gif" alt="">
    </div>
  </body>
</html>
