<!DOCTYPE html>
<html>
  <% include ./partials/head %>
  <body class="container">
    <% include ./partials/header %>
    <h1>Meather</h1>
    <h5>The mood weather, a personalised mood enhancer !</h5>

    <% include ./partials/footer %>
  </body>
</html>
