<!DOCTYPE html>
<html>
  <% include ./partials/head %>
  <body class="container">
    <% include ./partials/header %>
    <h1>
    Good morning
    </h1>
    <% include ./partials/footer %>
  </body>
</html>
