html {
  background-color: #00BFFF;
}

nav {
  display: -webkit-inline-box;
}

body {
  background-color: #FFF;
  margin-top: 50px;
}

form {
  margin-left: 5px;
}

.stateicon {
  width: 32px;
  height: 32px;
}
