<!DOCTYPE html>
<html>
  <% include ../partials/head %>
  <body class="container">
    <% include ../partials/header %>
    <br>
    <br>
    <form action="/user/login" method="post">
      <label for="">Email:</label>
      <input type="text" name="email"><br>
      <label for="">Password:</label>
      <input type="password" name="password">
      <br>
      <br>
      <input class="button-primary" type="submit" value="Enter"><br>
    </form>
    <% include ../partials/footer %>
  </body>
</html>
